.container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
  padding: 30px;
  font-size: 30px;
  img {
    transform: scale(1.6);
  }
  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
a {
  text-decoration: none;
}
